[Unit]
Description=Starts softshut for Pi Switch
Requires=local-fs.target

[Service]
Type=simple
ExecStart=/opt/piswitch/softshut.py
WorkingDirectory=/opt/piswitch/

[Install]
WantedBy=multi-user.target
